<h2> Help </h2>

<p class = "text-centered text-justified"> 
    Touch the "View Tutorial" button for a quick overview of the app.
    Touch any of the 4 dropdown tabs to learn about a spcific page. 
</p>

<!-- Button centralizing code taken from the first answer to the following StackOverflow post: http://stackoverflow.com/questions/7940769/how-to-center-a-width-unknown-button-in-a-bootstraps-span -->
<div class="row">
  <div class="span6" style="text-align:center">
    <button type = "button" class = "btn btn-primary" data-dismiss = "modal" onclick = "startTutorial()";> 
      View Tutorial
    </button> 
  </div>
</div>

<br>

<!-- Accordion Plugin code taken from getbootstrap website -->
<div class="panel-group" id="accordion">

  <!-- OPTION 1 -->
  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style = "text-decoration:none; color:blue">
            <div>
              Home
            </div>
          </a>
        </h4>
      </div>
    <div id="collapseOne" class="panel-collapse collapse ">
      <div class="panel-body text-centered text-justified">
        The Home page has thumbnails of the most recently updated rooms on VirtualSpace. Tapping on a thumbnail brings up a modal that lets you:
        <br>
        <br>
        <ul>
          <li> 
            Edit parts of the room by touching the <b> Edit Room </b> button. You could also add a new item to the room by clicking the <b> Add Item to Room </b> button.
          </li>
          <br>
          <li> 
            In the case that the room is owned by someone else, add that room (and all its items and properties) to your collection by clicking the <b> Copy Room </b> button which copies the room and its items into your spaces to use as inspiration.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- OPTION 2 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style = "text-decoration:none; color:blue">
           <div> 
            Search
          </div>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body text-centered text-justified">
        The Search page allows you to search for any of the rooms or items of other VirtualSpace users. As you type into the search bar, any rooms or items whose tags match (or contain) your query will appear on the screen. In other words, typing "re" into the bar will yield all of the results that typing "red" into the bar yields.
        <br>
        <br>
        Any results from the search will appear as thumbnail images of each room/item found. Clicking on a thumbnail will lead you to that particular room's/item's page. Search is an easy way for you to find rooms or items that meet certain criteria.
      </div>
    </div>
  </div>

  <!-- OPTION 3 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style = "text-decoration:none; color:blue">
          <div>
            Your Spaces
          </div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body text-centered text-justified">
        This page shows you all of the rooms (spaces) and items in your collection. Your rooms are shown under the <b> Rooms </b> and <b> Items </b> headers as carousels of pictures that you can browse by:
        <br>
        <br>
        <ul>
          <li> Swiping your finger across each picture </li>
          <br>
          <li> Touching the arrows that appear on the left and the right ends of each picture </li>
          <br>
        </ul>
        To actually add a room or an item to your collection, press the  <b> Add Room/Item </b> button. Each room/item has four properties: 
        <br>
          <ol>
            <li> A name </li>
            <li> A picture </li>       
            <li> A brief paragraph describing it </li>     
            <li> A set of keywords associated with it called <i> tags </i> </li> 
          </ol>
      </div>
    </div>
  </div>

  <!-- OPTION 4 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style = "text-decoration:none; color:blue">
          <div>
            Settings
          </div>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body text-centered text-justified">
        On this page, you'll be able to change your personal account information. The empty text field beneath the <b> Username </b> header allows you to change your username. To change your password, press the <b> I want to change my password</b> button and enter your new password in the <b> New Password </b> text field. If you decide <i> not </i> to change your password, press the <b> Cancel Password Change </b> button to remove the new password text field. Press the <b> Save Changes </b> button to officially update that information.
        <br>
        <br>
        In the (very unfortunate) case you want to stop using VirtualSpace, tap the <b> Delete my account </b> link at the bottom of the page.
      </div>
    </div>
  </div>
</div>



<%= render :partial => "layouts/tutorial" %>

