<h2> Help </h2>

<p class = "text-centered"> 
  Welcome to the Help page. Use it to learn more about each menu option and about VirtualSpace's other features. Click on each tab to reveal a dropdown section describing each part of the app in detail. If you want a quick overview of what the app can do, click on "View Tutorial" at the bottom of the page. 
</p>


<!-- Accordion Plugin code taken from getbootstrap website -->
<div class="panel-group" id="accordion">

  <!-- OPTION 1 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style = "color:blue">
          Home
        </div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse ">
      <div class="panel-body text-centered">
        The Home page contains thumbnails of the most recently-edited rooms in the VirtualSpace community. Each thumbnail links to the page for that room, where you can view information about the room and do one of two things:
        <br>
        1) In the case that it's your room, change the room's picture/description/tags by clicking the <b> Edit Room </b> button. You could also add a new item to the room by clicking the <b> Add Item to Room Button </b>.
        <br>
        2) In the case that the room is owned by someone else, add that room (and all its items and properties) to your collection by clicking the <b> Borrow </b> button; in other words, you can "borrow" the room (i.e. see and use it as inspiration) from another user.
        <br>
        <br>
        At the very top of the Home Page are two buttons: <b> Search For More </b>, which takes you to the Search page, and <b> Go to Your Spaces </b>, which takes you to your spaces page. Both of these pages are described in greater detail in their respective sections on this page.
      </div>
    </div>
  </div>

  <!-- OPTION 2 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style = "color:blue">
          Search
        </div>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body text-centered">
        The Search page allows you to search for any of the rooms or items of other VirtualSpace users. As you type into the search bar, any rooms or items whose tags match (or contain) your query will appear on the screen. In other words, typing "re" into the bar will yield all of the results that typing "red" into the bar yields.
        <br>
        <br>
        Any results from the search will appear as thumbnail images of each room/item found. Clicking on a thumbnail will lead you to that particular room's/item's page. Search is an easy way for you to find rooms or items that meet certain criteria.
      </div>
    </div>
  </div>

  <!-- OPTION 3 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style = "color:blue">
          Your Spaces
        </div>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body text-centered">
        This page shows you all of the rooms (spaces) and items in your collection. Your rooms are shown under the <b> Rooms </b> header as a carousel of pictures through which you can navigate. To see which rooms are in your collection, you can do one of the following:
        <li> Scroll through the carousel by horizontally swiping your finger across each picture </li>
        <li> Click on the arrows that appear on the left and the right ends of each picture </li>
        <br>
        The above information applies for items as well, which show up beneath the <b> Items </b> header.
        <br>
        <br>
        To actually add a room or an item to your collection, click on the  <b> Add Room/Item </b>. Each added room/item consists of four properties: 
        <br>
        1) A name
        <br>
        2) A picture         
        <br>
        3) A brief paragraph describing it     
        <br>    
        4) A set of keywords associated with it called <i> tags </i> 
        <br>
        Once you've entered the required information, you can add the new room/item to your collection and see it on your spaces page.

      </div>
    </div>
  </div>

  <!-- OPTION 4 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style = "color:blue">
          Settings
        </div>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body text-centered">
        On this page, you'll be able to make changes to your personal account information. The empty text field underneath the <b> Username </b> header allows you to change your username. To change your password, simply click on <b> I want to change my password</b> button and enter your new password in the text field that appears under <b> New Password </b>. In the case you end up deciding <i> not </i> to change your password, just click the <b> Cancel Password Change </b> button to have the new password text field removed. If you make any changes to either your username or your password, click on the <b> Save Changes </b> button to officially update that information.
        <br>
        <br>
        In the (very unfortunate) case that you want to stop using VirtualSpace, click on the <b> Delete my account </b> link at the bottom of the page.
      </div>
    </div>
  </div>
</div>


<!-- Button centralizing code taken from the first answer to the following StackOverflow post: http://stackoverflow.com/questions/7940769/how-to-center-a-width-unknown-button-in-a-bootstraps-span -->
<div class="row">
  <div class="span6" style="text-align:center">
    <button type = "button" class = "btn btn-primary" data-dismiss = "modal" onclick = "startTutorial()";> 
      View Tutorial
    </button> 
  </div>
</div>

<!-- PAGE 1 OF TUTORIAL -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg1.png"/>
        <p> Clicking on the three-line icon (highlighted in yellow at the top right) brings up the site's main menu. Click on this to bring up the key parts of the site. Right now, let's take a look at "Your Spaces". </p>

        <!-- Progress Bar Plugin taken from Bootstrap website (getbootstrap) -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">
       <button type = "button" class = "btn btn-default pull-left" data-dismiss = "modal"> End Tutorial </button>

       <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page2()";> 
          <span class = "glyphicon glyphicon-arrow-right"> </span> 
        </button>  
    </div>
  </div>
  </div>
</div>

<!-- PAGE 2 OF TUTORIAL -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg3.png"/>
        <p> When you click on "Your Spaces", you'll have the option of adding either a room (i.e. a space) or an item to your collection. Note, however, that items must be added to existing rooms and can't be added independently. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

      <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "startTutorial()";> 
        <span class = "glyphicon glyphicon-arrow-left"> </span> 
      </button>             

      <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page3()";> 
        <span class = "glyphicon glyphicon-arrow-right"> </span> 
      </button>  

    </div>
  </div>
  </div>
</div>


<!-- PAGE 3 OF TUTORIAL -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg7.png"/>
        <p> Once you add a room/item to your collection, it'll show up on your spaces page. From here, you can horizontally swipe through each picture (or click on the left and right arrows that appear on each picture) to learn more about it. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

      <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page2()";> 
        <span class = "glyphicon glyphicon-arrow-left"> </span> 
      </button> 

      <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page4()";> 
        <span class = "glyphicon glyphicon-arrow-right"> </span> 
      </button>  

    </div>
  </div>
  </div>
</div>


<!-- PAGE 4 OF TUTORIAL -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg8.png"/>
        <p> From here, you can read a description of the room/item and see the keywords/tags associated with it. You can make changes to anything on this page, including the picture it displays. You can add an item to a room from here as well. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

      <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page3()";> 
        <span class = "glyphicon glyphicon-arrow-left"> </span> 
      </button> 

      <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page5()";> 
        <span class = "glyphicon glyphicon-arrow-right"> </span> 
      </button>  

    </div>
  </div>
  </div>
</div>

<!-- PAGE 5 OF TUTORIAL -->
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg9.png"/>
        <p> Now let's take a look at the "Search" option, which we can find by clicking on the main menu icon. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

    <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page4()";> 
      <span class = "glyphicon glyphicon-arrow-left"> </span> 
    </button> 

    <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page6()";> 
      <span class = "glyphicon glyphicon-arrow-right"> </span> 
    </button>  

    </div>
  </div>
  </div>
</div>

<!-- PAGE 6 OF TUTORIAL -->
<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg10.png"/>
        <p> This'll bring up an empty search bar that you can fill with word or expression you want. Any rooms/items with tags that match your query will appear on the screen as you type. Images surrounded by a dark red outline are rooms and items you own in your spaces. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

    <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page5()";> 
      <span class = "glyphicon glyphicon-arrow-left"> </span> 
    </button> 

    <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page7()";> 
      <span class = "glyphicon glyphicon-arrow-right"> </span> 
    </button>  

    </div>
  </div>
  </div>
</div>

<!-- PAGE 7 OF TUTORIAL -->
<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg11.png"/>
        <p> The app's Home page is where you can see the most recent updates that VirtualSpace users have made to their designs. To get to this page, click on either the "Home" option on the main menu or the VirtualSpace logo in the top left corner on the screen. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

    <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page6()";> 
      <span class = "glyphicon glyphicon-arrow-left"> </span> 
    </button> 

    <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page8()";> 
      <span class = "glyphicon glyphicon-arrow-right"> </span> 
    </button>  

    </div>
  </div>
  </div>
</div>

<!-- PAGE 8 OF TUTORIAL -->
<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg12.png"/>
        <p> When the Home page pops up, you'll see a display of thumbnail images. Each of which represents someone's room. Similar to the red outline around the search images, images surrounded by a dark red outline are rooms already located in your spaces. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

    <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page7()";> 
      <span class = "glyphicon glyphicon-arrow-left"> </span> 
    </button> 

    <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page9()";> 
      <span class = "glyphicon glyphicon-arrow-right"> </span> 
    </button>  

    </div>
  </div>
  </div>
</div>

<!-- PAGE 9 OF TUTORIAL -->
<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg14.png"/>
        <p> When you click on one of the thumbnails, you'll have the option of either viewing that specific room's page or, if the room isn't yours, "borrowing" the room (i.e. adding the room and its items to your collection). </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

    <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page8()";> 
      <span class = "glyphicon glyphicon-arrow-left"> </span> 
    </button> 

    <button type = "button" class = "btn btn-default" data-dismiss = "modal"> End Tutorial </button> 
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "page10()";> 
      <span class = "glyphicon glyphicon-arrow-right"> </span> 
    </button>  

    </div>
  </div>
  </div>
</div>

  <!-- PAGE 10 OF TUTORIAL -->
<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> Tutorial </h4>
    </div>
    <div class = "modal-body text-centered">
        <img src = "/images/tutorialImages/pg13.png"/>
        <p> To manage your personal profile information, click on the "Settings" option. Click on "Help" to learn more about each part of the app in greater detail (or to access this tutorial in the future). Click "Logout" to log out of your account. </p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          </div>
        </div>

    </div>
    <div class="modal-footer">

    <button id = "tutorial" type = "button" class = "btn btn-primary pull-left" data-dismiss = "modal" onclick = "page9()";> 
      <span class = "glyphicon glyphicon-arrow-left"> </span> 
    </button> 
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button type = "button" class = "btn btn-default pull-right" data-dismiss = "modal"> Finish Tutorial </button> 

    </div>
  </div>
  </div>
</div>


<script type = "text/javascript">
  function startTutorial(){
     $('#modal1').modal('show');
  }

  function page2(){
     $('#modal2').modal('show');
  }

  function page3(){
     $('#modal3').modal('show');
  }

  function page4(){
     $('#modal4').modal('show');
  }

  function page5(){
     $('#modal5').modal('show');
  }

  function page6(){
     $('#modal6').modal('show');
  }

  function page7(){
     $('#modal7').modal('show');
  }

  function page8(){
    $('#modal8').modal('show');
  }

    function page9(){
    $('#modal9').modal('show');
  }

    function page10(){
    $('#modal10').modal('show');
  }
</script>

