<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<link rel="stylesheet" type="text/css" href= "/app/views/room.css">
		<title> My Bedroom </title>
	</head>

	<body>
		<div id = "top">
			My Bedroom 
			<a href=""> Edit </a>
			<img src=""/>
		</div>

		<div>
			Description:
		</div>

		<div>
			Items:
		</div>

		<div>
			Tags:
		</div>

	</body>

</html>