<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title> My Bedroom </title>
	</head>

	<body>
		<div class="div-centered">
			<div class = "text-centered">
				<h2> My Bedroom </h2>
					<button type = "Button" class = "btn primary large" onclick = "window.location.href = '/spaces/add'"> Edit </button>
				<br>
				<br>
			</div>
		</div>
		<br>

		<% if params[:id].nil? %>
			<img src="/images/room03.jpg"/>
		<% else %>
			<img src="/images/<%= @roomID %>.jpg"/>
		<% end %>

		<br>

		<div>
			<b> Description: </b>
			<br>&nbsp;&nbsp; The room to end all rooms.
		</div>

		<div class="divCentered">
			<br>
			<b> Items: </b>
			<%= render :partial => "layouts/carousel", :locals => {:items => @items, :carouselID => "carousel2", :nextPage => "/item"}%>
		</div>

		</div>

		<div>
			<br>
			<b> Tags: </b> 
			<br>&nbsp;&nbsp; bedroom, big, space
		</div>

	</body>

</html>