<h2>What's New
	<p class="lead">See what other users have been up to</p>
</h2>
<div class="row">
<% @new_items.each do |i| %>
	<div class="col-lg-2 col-sm-3 col-xs-4">
		<a href="/room">
		     <img src="<%= i.imageURL %>" class="thumbnail img-responsive">
		</a>
	</div>
<% end %>

<center><a href="/search"><button type="Button" class="btn primary large center">Search For More</button></a></center>
</div>
