<h2>What's Popular
	<p class="lead">See what other users have designed</p>
</h2>
<div class="row">
<% @new_items.each do |i| %>
	<div class="col-lg-2 col-sm-3 col-xs-4">
		<a href="/rooms/index/<%= i.id %>">
		     <img src="/images/<%= i.imageURL %>" class="thumbnail img-responsive">
		</a>
	</div>
<% end %>

<center><a href="/search/index"><button type="Button" class="btn primary large center">Search For More</button></a></center>
</div>
