<% if !@user.nil? %>
	<% @user.errors.full_messages.each do |e| %>
	    <div class="alert alert-danger alert-dismissable">
	    	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<%= e %>
	    </div>
	<% end %>
<% end %>
<center><h2>Welcome to VirtualSpace</h2></center>
<br/>
<center>
	<form>
		<p>Email</p>
		<input id="email" type="text"><br><br>
		<p>Password</p>
		<input id="password" type="password"><br>
		<div id="signupForm">
			<br><p>Username<br>(to display on design profile)</p>
			<input type="text" id="username"><br>
		</div>
	</form>
	<br/>
	<div id="loginScreenButtons">
		<p><button id="loginBtn" type="Button" class="btn btn-lg" onClick="loginFunction()">Login</button></p>
		<br/>
		<p>First time using VirtualSpace?</p>
		<p><button id="signupBtn"type="Button" class="btn btn-sm">Sign Up</button></p>
	</div>
	<div id="signupScreenButtons">
		<p><button id="createAccountBtn"type="Button" class="btn btn-lg" onClick="createAccount()">Create Account</button></p><br/>
		<p>Already have an account?</p>
		<p><button id="backToLoginBtn" type="Button" class="btn btn-sm">Login</button></p>
	</div>
</center>

<script type="text/javascript">
	$(document).ready(function(){
		$("#signupForm").hide();
		$("#signupScreenButtons").hide();

		// $("#loginBtn").onClick(window.location.href = "/post_login?username="+$("#email").text);
	});

	$("#signupBtn").click(function(){
		$("#loginScreenButtons").hide("medium");
		$("#signupForm").show("medium");
		$("#signupScreenButtons").show("medium");
	});

	$("#backToLoginBtn").click(function(){
		$("#signupForm").hide("medium");
		$("#signupScreenButtons").hide("medium");

		$("#loginScreenButtons").show("medium");
	});

	function loginFunction(){
		window.location.href = "/home/post_login?email="+$("#email").val()+"&password="+$("#password").val();
	}

	function createAccount(){
		window.location.href = "/home/post_create_account?email="+$("#email").val()+"&password="+$("#password").val()+"&username="+$("#username").val();
	}

</script>