<% content_for(:head) do %>
	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='82942135-2',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->
<% end %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48620223-1', 'virtualspace.herokuapp.com');
  ga('send', 'pageview');
</script>

<% if !@user.nil? %>
	<% @user.errors.full_messages.each do |e| %>
	    <div class="alert alert-danger alert-dismissable">
	    	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<%= e %>
	    </div>
	<% end %>
<% end %>
<center><h2>Welcome to VirtualSpace</h2></center>
<br/>
<center>
	<form>
		<p>Email</p>
		<input id="email" type="text"><br><br>
		<p>Password</p>
		<input id="password" type="password"><br>
		<div id="signupForm">
			<br><p>Username<br>(to display on design profile)</p>
			<input type="text" id="username"><br>
		</div>
	</form>
	<br/>
	<div id="loginScreenButtons">
		<p><button id="loginBtn" type="Button" class="btn btn-lg" onClick="loginFunction()">Login</button></p>
		<br/>
		<p>First time using VirtualSpace?</p>
		<p><button id="signupBtn"type="Button" class="btn btn-sm">Sign Up</button></p>
	</div>
	<div id="signupScreenButtons">
		<p><button id="createAccountBtn"type="Button" class="btn btn-lg" onClick="createAccount()">Create Account</button></p><br/>
		<p>Already have an account?</p>
		<p><button id="backToLoginBtn" type="Button" class="btn btn-sm">Login</button></p>
	</div>
</center>

<script type="text/javascript">
	$(document).ready(function(){
		$("#signupForm").hide();
		$("#signupScreenButtons").hide();

		// $("#loginBtn").onClick(window.location.href = "/post_login?username="+$("#email").text);
	});

	$("#signupBtn").click(function(){
		$("#loginScreenButtons").hide("medium");
		$("#signupForm").show("medium");
		$("#signupScreenButtons").show("medium");
	});

	$("#backToLoginBtn").click(function(){
		$("#signupForm").hide("medium");
		$("#signupScreenButtons").hide("medium");

		$("#loginScreenButtons").show("medium");
	});

	function loginFunction(){
		window.location.href = "/home/post_login?email="+$("#email").val()+"&password="+$("#password").val();
	}

	function createAccount(){
		window.location.href = "/home/post_create_account?email="+$("#email").val()+"&password="+$("#password").val()+"&username="+$("#username").val();
	}

</script>