<center><h2>Welcome to VirtualSpace</h2></center>
<br/><br/>
<center>
	<p><a href="/home"><button type="Button" class="btn primary large">Signup</button></a></p>

	<p><a href="/home"><button type="Button" class="btn primary large">Login</button></a></p>
</center>
