<h2><%= @user.username %>'s Rooms</h2>

<div class="row">
<% @rooms.each do |i| %>
	<div class="col-lg-2 col-sm-3 col-xs-4">
		<a href="/rooms/index/<%= i.id %>">
		     <img src="<%= i.imageURL %>" class="thumbnail img-responsive">
		</a>
	</div>
<% end %>
</div>
