/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.fullWidth{
	width: 100%;
}

.text-centered{
	text-align: center;
}

.div-centered{
	margin:auto;
	vertical-align: middle;
}

.clicktohome {
	float:left;
	z-index:3;
}

h2 {
	text-align:center;
}

button {
 font-family: Helvetica ;
 font-weight: bold ;
 padding: 15px; 
 border: 1px solid black ;
 -moz-border-radius: 8px ;
 -webkit-border-radius: 8px ; 
 margin-top: 10px ;
 margin-bottom: 10px ;
 background-color: #c0c0c0 ;
}

#redButton{
	background-color:#8f2831;
	color:#dcddd8;
}

#redButton:hover{}