// import the CSS framework
@import "bootstrap";

a:link {
  color: #8f2831;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  height:auto;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// NAVBAR START
.navbar-header {
  top:0px;
  left:0px;
  background-image:url('/images/header.png');
  background-repeat:no-repeat;
}

.navbar-default {
  background-color: #354b5e;
  border-color: #8f2831;
}
.navbar-default .navbar-brand {
  color: #dcddd8;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e3e6eb;
}
.navbar-default .navbar-text {
  color: #dcddd8;
}
.navbar-default .navbar-nav > li > a {
  color: #dcddd8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e3e6eb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e3e6eb;
  background-color: #8f2831;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e3e6eb;
  background-color: #8f2831;
}
.navbar-default .navbar-toggle {
  border-color: #8f2831;
  background-color: #8f2831;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #8f2831;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dcddd8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #dcddd8;
}
.navbar-default .navbar-link {
  color: #dcddd8;
}
.navbar-default .navbar-link:hover {
  color: #e3e6eb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dcddd8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3e6eb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e3e6eb;
    background-color: #8f2831;
  }
}

// NAVBAR END

.thumbnail {
  margin-right:5px;
}