<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
<<<<<<< HEAD
      <a href="/home"><img src="/images/header_small.png" class="clicktohome"></a>
=======
      <span class="clicktohome" onclick="javascript:location.href='/home'"><img src="/images/header.png"></span>
>>>>>>> a5c858bc72edc51ef619ab97f2327169d3bb7d0d
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
